body {
    background-color: rgba(255, 255, 255, 0.815) !important;
  }

  .navbar img {
    filter: drop-shadow(1px 0px 1px white);
  }
  
  .dropdown-menu {
    background-color: rgb(50, 76, 226) !important;
    color: white ;
  }

  

  #cardImg{
  object-fit: cover;
  
  }

  .dropdown-item{ 
  color: white !important;
  }
  
  .dropdown-item:hover {
    background-color: rgb(92, 116, 255) !important;
    transition: 0.2s;
    border-radius: 5px;
    transform: scale(1.05);
    filter: drop-shadow(1px 0px 4px white);
  }
  .carousel-caption p, .carousel-caption h3 {
    text-transform: uppercase;
    background: linear-gradient(to right bottom, #0059ff, #ffff, #940505);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate-gradient 10s linear infinite;
  }

  #cardFront{
  background-color: rgb(92, 116, 255);
  color: white !important;
  
  }

  #cardBack {
  background-color: rgb(92, 116, 255);
  
  }

  
  
  .flip-card {
    perspective: 1000px;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 300px;
    transition: transform 0.6s;
    transform-style: preserve-3d;
  }
  #flipBtn{
  width: rem !important;
  transform: scale(0.9);
  background-color: white;
  color: black;
  opacity: 0.85;
  bottom: 7px;
  right: 7px;
  
  }
  #flipBtn:hover{
    transition: 0.4s;
  opacity: 1;
  transform: scale(0.95);
  filter: drop-shadow(0px 0px 2px rgb(0, 0, 0));

  }
  
  .flip-card.flipped .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front,
  .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 0.5rem;
    overflow: hidden;
  }
  
  .flip-card-front {
    background-color: #fff;
    z-index: 2;
  }
  
  .flip-card-back {
    background-color: #0d6efd;
    color: white;
    transform: rotateY(180deg);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    text-align: center;
  }
  
  .card-img-top {
    height: 150px;
    object-fit: cover;
  }
  
  #popUp {
    width: 30vh;
    height: 25vh !important;
    filter: drop-shadow(2px 1px 3px rgb(0, 0, 0));
    z-index: 1050;
    animation: popup 1s forwards;
    transform: translateX(-120%);
  }

  #baglamaButton :hover{
  transition: 0.3s;
    color: red;
  }
  
  #popUp.hide-left {
    animation: close 0.6s forwards;
  }
  
  @keyframes popup {
    to {
      transform: translateX(0);
    }
  }
  
  @keyframes close {
    from {
      transform: translateX(0);
      opacity: 1;
    }
    to {
      transform: translateX(-120%);
      opacity: 0;
    }
  }
  
  @keyframes animate-gradient {
    to {
      background-position: 250%;
    }
  }
  
  @media (max-width: 768px) {
    .carousel-item img {
      height: 40vh !important;
    }
  }
  
  @media (min-width: 769px) {
    .carousel-item img {
      height: 60vh !important;
    }
  }
